/*===============/ BARRA MENU /==================*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body
{
    /*background: rgb(235, 235, 235);*/
    font-family: "comfortaa";

}

nav
{
    background: rgb(97, 97, 97); /* fondo de color del menu*/
    height: 100px; /* por el tamaño de la imagen*/
    width: 100%;
    top: 0%;
    position: fixed;
    z-index: 1000;
}

nav .enlace
{
    position: absolute; /* es como ponerse encima pero en su unico lugar*/
    margin-left: 50px;
}

nav .enlace .logo /*dimension del logo*/
{

    width: 100%;
}

nav ul
{
    float: right;
    margin-right: 50px;
}

nav ul li
{
    display: inline-block;
    line-height: 100px; /* desde arriba de la linea donde estan los link hacia abajo (cae justo al medio del  nav) */
}

nav ul li a
{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 30px;
    transition: all 0.3s;

}

nav ul li a:hover
{
    background: red;
    border: 3px solid white;
    color: white;
}

/* =================================/ MENU SECUNDARIO /================================ */

.segundo-menu
{
    background: red;
    position: fixed;
    z-index: 9;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.segundo-menu li
{
    padding: 3px 15px;
}

.segundo-menu li a
{
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: all 0.3s;
    text-decoration: none;
}

.segundo-menu li a:hover
{
    color: black;
}


/*======================/ carrusel /=====================*/
body #carouselExampleIndicators
{
    margin-top: 80px;

}

/*======================/ CAPA TRANSPARENTE /=====================*/

section.capa
{
    background: rgb(132, 132, 132); opacity: 0.7;
    position: absolute;
    top: 130px;
    width: 100%;
    height: 550px;
    text-align: center;
    width: 100%;
}

.capa .transparente
{
    color: red;
    display: none;
}


/*======================/ DESCRIPCION EMPRESA /=====================*/

section.contenido
{
    position: absolute;
    top: 130px;
    padding-top: 50px;
    width: 100%;
    height: 550px;
    text-align: center;
    width: 100%;
    color: white;
}

.parrafo1
{
    padding-top: 20px;
}


/*======================/ IMAGEN PC /=====================*/

section.ensamble
{
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.parrafo2
{
    font-size: 25px;
}

.parrafo2 h2
{
    display: inline;
    background: rgb(0, 71, 252);
    padding: 10px 30px;
    border-radius: 40px;
    border: 5px solid rgb(0, 71, 252);
    color: white;
}

/*======================/ MARCAS Y CERTIFICACION /=====================*/

section.marcas-certif
{
    background: rgb(209, 208, 208);
}

section .marcas
{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /*para alinear los 2 en linea recta desde el centro de cada uno*/

    padding: 20px 0;
}

hr.linea
{
    width: 70%;
    margin: auto;
}

.marcas .parrafo3
{
    width: 50%;
    padding-left: 50px;
}

section .certif
{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /*para alinear los 2 en linea recta desde el centro de cada uno*/

    padding: 20px 0;
}

.certif .parrafo3
{
    width: 50%;
    padding-left: 50px;
}


/*======================/ VIDEO /=====================*/

section.video
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
}

.parrafo4 h2
{
    display: inline;
    background: rgb(0, 183, 0);
    padding: 10px 30px;
    border-radius: 40px;
    color: white;
}

section.video iframe
{
    padding-top: 20px;
}


/* ==========================/ FOOTER/ ================================ */

footer
{
    font-size: 15px;
    max-width: 100%;
    width: 100%;
}

footer .final
{
    background-color: rgb(156, 155, 155); opacity: 0.9;
    padding: 20px 0;
}

footer .final .fila
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer .logo-footer
{
    width: 100%;
}

footer ul
{
    padding-left: 0;
    list-style: none;
}

footer ul li
{
    margin: 10px 0;
}

footer a
{
    text-decoration: none;
}

footer .redes li a
{
    font-size: 20px;
    color: #000;
}

.columna .datos
{
    font-size: 20px;
}

/* ========/ PEQUEÑO FORMULARIO /========= */
form
{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

form input[type="text"], form input[type="email"], form textarea
{
    margin: 1px 0;
    padding: 5px 5px;
    border-radius: 10px;
    color: rgb(204, 5, 5);
    font-weight: 600;
    font-family: 'Comfortaa';    
    font-size: 15px;
}

form textarea
{
    height: 100px;
    border-radius: 10px;
}

form .boton
{
    display: flex;
    justify-content: flex-end;
}

form .boton input[type="submit"]
{
    display: block;
    margin: 5px 0;
    padding: 5px 5px;
    background: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
}

form .boton input[type="submit"]:hover
{
    background: #D57500;
}